.btn,
button:not(.no-btn),
.btn-group a {
  background-color: var(--color-primary);
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  display: inline-block;
  border: 2px solid var(--color-primary);
  font-size: inherit;
  padding: .45em 1em .5em;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  cursor: pointer;
  transition:
    opacity var(--transition),
    background-color var(--transition),
    border-color var(--transition),
    color var(--transition);
  @include hov() {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
    color: #fff;
    outline-offset: 3px;
  }
}

// .btn + .btn,
// .btn + button,
// button + .btn,
// button + button {
//   margin-left: calc(.5rem * var(--line-height));
// }

.btn.outline {
  background-color: transparent;
  color: var(--color-primary);
  box-shadow: none;
  @include hov() {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: #fff;
  }
}

.btn.secondary,
.btn-group.secondary a,
.btn-group a.secondary {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  @include hov() {
    background-color: var(--color-secondary-light);
    border-color: var(--color-secondary-light);
  }
}

.btn.secondary.outline {
  background-color: transparent;
  color: var(--color-secondary);
  box-shadow: none;
  @include hov() {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    color: #fff;
  }
}

.btn.accent-1, 
.btn-group.accent-1 a,
.btn-group a.accent-1 {
  background-color: var(--color-accent-1);
  border-color: var(--color-accent-1);
  @include hov() {
    background-color: var(--color-accent-1-light);
    border-color: var(--color-accent-1-light);
  }
}

.btn.accent-1.outline {
  background-color: transparent;
  color: var(--color-accent-1);
  box-shadow: none;
  @include hov() {
    background-color: var(--color-accent-1);
    border-color: var(--color-accent-1);
    color: #fff;
  }
}

.btn.accent-2,
.btn-group.accent-2 a,
.btn-group a.accent-2 {
  background-color: var(--color-accent-2);
  border-color: var(--color-accent-2);
  @include hov() {
    background-color: var(--color-accent-2-light);
    border-color: var(--color-accent-2-light);
  }
}

.btn.accent-2.outline {
  background-color: transparent;
  color: var(--color-accent-2);
  box-shadow: none;
  @include hov() {
    background-color: var(--color-accent-2);
    border-color: var(--color-accent-2);
    color: #fff;
  }
}

.btn.accent-3,
.btn-group.accent-3 a,
.btn-group a.accent-3 {
  background-color: var(--color-accent-3);
  border-color: var(--color-accent-3);
  @include hov() {
    background-color: var(--color-accent-3-light);
    border-color: var(--color-accent-3-light);
  }
}

.btn.accent-3.outline {
  background-color: transparent;
  color: var(--color-accent-3);
  box-shadow: none;
  @include hov() {
    background-color: var(--color-accent-3);
    border-color: var(--color-accent-3);
    color: #fff;
  }
}

.btn-group a.primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  @include hov() {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
  }
}

.btn.xxxlarge,
.btn-group.xxxlarge a {
  @include typeScaleH1();
}

.btn.xxlarge,
.btn-group.xxlarge a {
  @include typeScaleH2();
}

.btn.xlarge,
.btn-group.xlarge a {
  @include typeScaleH3();
}

.btn.large,
.btn-group.large a {
  @include typeScaleH4();
}

.btn.medium,
.btn-group.medium a {
  @include typeScaleH5();
}

.no-btn {
  color: inherit;
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  padding: 0;
  &:hover {
    cursor: pointer;
  }
}

.btn-icon {
  display: inline-flex;
  align-items: center;
}

.btn-group {
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  overflow: hidden;
  display: inline-flex;
  &.dividers a:not(:last-child)::after {
    content: ' ';
    width: 1px;
    height: calc(100% + 4px);
    background-color: rgba(255, 255, 255, .1);
    position: absolute;
    top: -2px;
    right: -2.5px;
    z-index: 1;
  }
  a {
    border-radius: 0;
    box-shadow: none;
    position: relative;
  }
}
