.masthead {
  @media only screen and (max-width: 37.999em) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: var(--color-grey-pale);
    z-index: 10000;
    .nav {
      grid-area: navbar;
      position: fixed;
      bottom: 0;
      left: 0;
      height: 3.5rem;
      width: 100%;
      display: grid;
      // grid-template-columns: 1rem repeat(3, 1fr) 1rem;
      grid-template-columns: 1rem 2fr 1fr 2fr 1rem;
      grid-template-areas:
      '. lists fab groups .';
      background-color: var(--color-grey-pale);
      // -webkit-mask: url('/images/fab-mask-oversize.svg') top center no-repeat;
      // mask: url('/images/fab-mask-oversize.svg') top center no-repeat;
      transition:
        grid-template-columns var(--transition),
        grid-template-areas var(--transition);
      &.no-fab {
        grid-template-columns: 1rem 2fr 2fr 1rem;
        grid-template-areas:
        '. lists groups .';
      }
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: var(--color-text);
        transition:
          width var(--transition),
          color var(--transition);
        &.active {
          color: var(--color-secondary);
        }
        &:first-child {
          grid-area: lists;
        }
        &:last-child {
          grid-area: groups;
        }
        .nav-icon-label {
          font-size: .75rem;
        }
      }
    }
    .MuiFab-root {
    }
    .fab {
      width: 56px;
      height: 56px;
      padding: 0;
      font-size: 0.875rem;
      min-width: 0;
      box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
      box-sizing: border-box;
      min-height: 36px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 500;
      line-height: 1.75;
      border-radius: 50%;
      letter-spacing: 0.02857em;
      text-transform: uppercase;
      background-color: var(--color-secondary);
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .fab-positioning {
      position: fixed;
      bottom: 3.5rem;
      left: 50%;
      transform: translate(-50%, 50%);
      z-index: 10000;
    }
  }
  .logo {
    font-size: 1.75rem;
    color: var(--color-primary);
  }
  .account-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    box-shadow: var(--shadow);
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.125rem;
    font-weight: bold;
    text-decoration: none;
    &-letter {
      margin-top: -3px;
    }
    &-label {
      display: none;
    }
  }
}