// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i,800,800i&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '_utilities/utilities';
@import '_modules/modules';
@import '_theme/theme';
@import '_libraries/libraries';
@import '_pages/pages';

/* 

_utilities/
  _utitlies
  _mixins

_modules/
  _layout
  _modules

_theme/
  _patterns/
    _header
    _footer
    _patterns
  _common
  _theme

_libraries/
  _library_name/
    _patterns/
      _header
      _footer
      _patterns
    _common
    _theme
  _libraries

main.scss

*/
