@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@-moz-viewport {
  width: device-width;
  scale: 1;
}
@-ms-viewport {
  width: device-width;
  scale: 1;
}
@-o-viewport {
  width: device-width;
  scale: 1;
}
@-webkit-viewport {
  width: device-width;
  scale: 1;
}
@viewport {
  width: device-width;
  scale: 1;
}
html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

details {
  cursor: pointer;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
}

.img-flex,
.img-flex img {
  display: block;
  width: 100%;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

svg.img-flex {
  width: 100%;
  height: 100%;
}

/* - - - - - - - - - - Spacers - - - - - - - - - - */
.island {
  padding: calc(1rem * var(--line-height));
}

.island-1-2 {
  padding: calc(1rem * var(--line-height) / 2);
}

.island-1-4 {
  padding: calc(1rem * var(--line-height) / 4);
}

.island-2 {
  padding: calc(1rem * var(--line-height) * 2);
}

.island-3 {
  padding: calc(1rem * var(--line-height) * 3);
}

.island-4 {
  padding: calc(1rem * var(--line-height) * 4);
}

.gutter {
  padding-left: calc(1rem * var(--line-height));
  padding-right: calc(1rem * var(--line-height));
}

.gutter-1-2 {
  padding-left: calc(1rem * var(--line-height) / 2);
  padding-right: calc(1rem * var(--line-height) / 2);
}

.gutter-1-4 {
  padding-left: calc(1rem * var(--line-height) / 4);
  padding-right: calc(1rem * var(--line-height) / 4);
}

.gutter-2 {
  padding-left: calc(1rem * var(--line-height) * 2);
  padding-right: calc(1rem * var(--line-height) * 2);
}

.gutter-3 {
  padding-left: calc(1rem * var(--line-height) * 3);
  padding-right: calc(1rem * var(--line-height) * 3);
}

.gutter-4 {
  padding-left: calc(1rem * var(--line-height) * 4);
  padding-right: calc(1rem * var(--line-height) * 4);
}

.pad-t,
.pad-t-b {
  padding-top: calc(1rem * var(--line-height));
}

.pad-t-1-2,
.pad-t-b-1-2 {
  padding-top: calc(1rem * var(--line-height) / 2);
}

.pad-t-1-4,
.pad-t-b-1-4 {
  padding-top: calc(1rem * var(--line-height) / 4);
}

.pad-t-2,
.pad-t-b-2 {
  padding-top: calc(1rem * var(--line-height) * 2);
}

.pad-t-3,
.pad-t-b-3 {
  padding-top: calc(1rem * var(--line-height) * 3);
}

.pad-t-4,
.pad-t-b-4 {
  padding-top: calc(1rem * var(--line-height) * 4);
}

.pad-b,
.pad-t-b {
  padding-bottom: calc(1rem * var(--line-height));
}

.pad-b-1-2,
.pad-t-b-1-2 {
  padding-bottom: calc(1rem * var(--line-height) / 2);
}

.pad-b-1-4,
.pad-t-b-1-4 {
  padding-bottom: calc(1rem * var(--line-height) / 4);
}

.pad-b-2,
.pad-t-b-2 {
  padding-bottom: calc(1rem * var(--line-height) * 2);
}

.pad-b-3,
.pad-t-b-3 {
  padding-bottom: calc(1rem * var(--line-height) * 3);
}

.pad-b-4,
.pad-t-b-4 {
  padding-bottom: calc(1rem * var(--line-height) * 4);
}

.push {
  margin-bottom: calc(1rem * var(--line-height));
}

.push-0 {
  margin-bottom: 0;
}

.push-1-2 {
  margin-bottom: calc(1rem * var(--line-height) / 2);
}

.push-1-4 {
  margin-bottom: calc(1rem * var(--line-height) / 4);
}

.push-2 {
  margin-bottom: calc(1rem * var(--line-height) * 2);
}

.push-3 {
  margin-bottom: calc(1rem * var(--line-height) * 3);
}

.push-4 {
  margin-bottom: calc(1rem * var(--line-height) * 4);
}

.push-r {
  margin-right: calc(1rem * var(--line-height));
}

.push-r-1-2 {
  margin-right: calc(1rem * var(--line-height) / 2);
}

.push-r-1-4 {
  margin-right: calc(1rem * var(--line-height) / 4);
}

.push-r-2 {
  margin-right: calc(1rem * var(--line-height) * 2);
}

.push-r-3 {
  margin-right: calc(1rem * var(--line-height) * 3);
}

.push-r-4 {
  margin-right: calc(1rem * var(--line-height) * 4);
}

.push-r-auto {
  margin-right: auto;
}

.push-l {
  margin-left: calc(1rem * var(--line-height));
}

.push-l-1-2 {
  margin-left: 0.5rem;
}

.push-l-1-4 {
  margin-left: calc(1rem * var(--line-height) / 4);
}

.push-l-2 {
  margin-left: calc(1rem * var(--line-height) * 2);
}

.push-l-3 {
  margin-left: calc(1rem * var(--line-height) * 3);
}

.push-l-4 {
  margin-left: calc(1rem * var(--line-height) * 4);
}

.push-l-auto {
  margin-left: auto;
}

.push-r-auto {
  margin-right: auto;
}

.pull {
  margin-bottom: calc(-1rem * var(--line-height));
}

.pull-1-2 {
  margin-bottom: calc(-.5rem * var(--line-height));
}

/* - - - - - - - - - - Wrappers - - - - - - - - - - */
[class^=wrapper] {
  margin: 0 auto;
  max-width: 65em;
  width: 100%;
}

.wrapper-text, .wrapper-text-no-center {
  max-width: 40em;
}

.wrapper-text-no-center {
  margin: 0;
}

/* - - - - - - - - - - Display & Position - - - - - - - - - - */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.hidden {
  display: none;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.static {
  position: static;
}

.s-0 {
  display: none;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-v-center {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 38em) {
  .m-0 {
    display: none;
  }

  .m-1 {
    display: initial;
  }
}
/* - - - - - - - - - - Widths - - - - - - - - - - */
.w-1-4 {
  width: 25%;
}

.w-1-2 {
  width: 50%;
}

.w-3-4 {
  width: 75%;
}

.w-1 {
  width: 100%;
}

/* - - - - - - - - - - Grids & Cells - - - - - - - - - - */
main {
  margin: 3.5rem 0;
  display: grid;
  grid-template-columns: 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem;
}

* {
  grid-column: 2/span 7;
}

.full-width {
  grid-column: 1/span 9;
}

/* --- Mobile --- */
.col-2-center {
  grid-column: 4/span 3 !important;
}

[class^=embed] {
  position: relative;
}
[class^=embed] .embed-item,
[class^=embed] img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
[class^=embed] img {
  object-fit: cover;
}

.embed-4by3 {
  padding-top: 75%;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon svg {
  width: 100%;
  height: 100%;
}

.icon-label {
  display: inline-block;
  vertical-align: middle;
}
.icon-label.hidden {
  display: none;
}

.i-1-2 {
  width: calc(.5rem * var(--line-height));
  height: calc(.5rem * var(--line-height));
}

.i-1-4 {
  width: calc(.25rem * var(--line-height));
  height: calc(.25rem * var(--line-height));
}

.i-3-4 {
  width: calc(.75rem * var(--line-height));
  height: calc(.75rem * var(--line-height));
}

.i-1 {
  width: calc(1rem * var(--line-height));
  height: calc(1rem * var(--line-height));
}

.i-1-1-2 {
  width: calc(1.5rem * var(--line-height));
  height: calc(1.5rem * var(--line-height));
}

.i-1-1-4 {
  width: calc(1.25rem * var(--line-height));
  height: calc(1.25rem * var(--line-height));
}

.i-1-3-4 {
  width: calc(1.75rem * var(--line-height));
  height: calc(1.75rem * var(--line-height));
}

.i-2 {
  width: calc(2rem * var(--line-height));
  height: calc(2rem * var(--line-height));
}

.i-material {
  font-family: "Material Icons" !important;
}

.list-group, .icon-list, .list-group-flex {
  padding: 0;
  list-style-type: none;
}

.list-group-flex {
  display: flex;
}

.icon-list {
  margin: 0;
}

.list-group.level-2, .level-2.list-group-flex, .level-2.icon-list {
  padding-left: calc(1rem * var(--line-height));
}

html {
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
figure,
blockquote,
details,
hr,
fieldset,
legend,
pre,
table,
caption,
menu {
  margin: 0 0 calc(1rem * var(--line-height));
}

.headline-1, h1 {
  font-size: calc( 1rem * var(--type-scale) * var(--type-scale) * var(--type-scale) * var(--type-scale) * var(--type-scale) * var(--type-responsive-growth));
}

.headline-2, h2 {
  font-size: calc( 1rem * var(--type-scale) * var(--type-scale) * var(--type-scale) * var(--type-scale) * var(--type-responsive-growth));
  font-weight: 600;
}

.headline-3, h3 {
  font-size: calc( 1rem * var(--type-scale) * var(--type-scale) * var(--type-scale) * var(--type-responsive-growth));
}

.headline-4, h4 {
  font-size: calc( 1rem * var(--type-scale) * var(--type-scale) * var(--type-responsive-growth));
}

.headline-5, h5 {
  font-size: calc( 1rem * var(--type-scale) * var(--type-responsive-growth));
}

h6, body {
  font-size: calc( 1rem * var(--type-responsive-growth));
}

.text-small, small {
  font-size: calc( 1rem / var(--type-scale) * var(--type-responsive-growth));
}

a {
  color: var(--color-accent-3);
  transition: transform var(--transition), opacity var(--transition), background-color var(--transition), border-color var(--transition), color var(--transition);
}
a:hover, a:focus {
  color: var(--color-secondary);
}

pre,
code {
  font-size: calc( 1rem / var(--type-scale) * var(--type-responsive-growth));
}

/* - - - - - - - - - - Text Manipulation - - - - - - - - - - */
.text-upper {
  text-transform: uppercase;
}

.weight-bold {
  font-weight: 800;
}

.weight-medium {
  font-weight: 600;
}

.weight-regular {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a:focus,
[tabindex="0"]:focus,
details:focus,
summary:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: var(--color-accent-3) auto 10px;
  outline-offset: 0;
  -webkit-outline-radius: var(--radius);
}

textarea:focus,
input:focus {
  outline: var(--color-secondary) auto 10px;
}

input[type=checkbox]:focus,
input[type=radio]:focus {
  outline-offset: 3px;
}

.no-focus {
  outline: 0 !important;
}

.skip-links {
  list-style: none;
  margin: 0;
  padding: 0;
}
.skip-links a {
  position: absolute;
  width: 100%;
  top: -1000px;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 10000;
  color: #fff;
  text-decoration: none;
  background-color: var(--color-accent-3);
  border-left: calc(.5rem * var(--line-height)) solid var(--color-primary);
  padding: calc(.5rem * var(--line-height)) calc(1rem * var(--line-height));
  font-size: calc( 1rem * var(--type-scale) * var(--type-responsive-growth));
  outline: 0;
}
.skip-links a:focus {
  top: 0;
}

.btn,
button:not(.no-btn),
.btn-group a {
  background-color: var(--color-primary);
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  display: inline-block;
  border: 2px solid var(--color-primary);
  font-size: inherit;
  padding: 0.45em 1em 0.5em;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: opacity var(--transition), background-color var(--transition), border-color var(--transition), color var(--transition);
}
.btn:hover, .btn:focus,
button:not(.no-btn):hover,
button:not(.no-btn):focus,
.btn-group a:hover,
.btn-group a:focus {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  color: #fff;
  outline-offset: 3px;
}

.btn + .btn,
.btn + button,
button + .btn,
button + button {
  margin-left: calc(.5rem * var(--line-height));
}

.btn.outline {
  background-color: transparent;
  color: var(--color-primary);
  box-shadow: none;
}
.btn.outline:hover, .btn.outline:focus {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
}

.btn.secondary,
.btn-group.secondary a,
.btn-group a.secondary {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}
.btn.secondary:hover, .btn.secondary:focus,
.btn-group.secondary a:hover,
.btn-group.secondary a:focus,
.btn-group a.secondary:hover,
.btn-group a.secondary:focus {
  background-color: var(--color-secondary-light);
  border-color: var(--color-secondary-light);
}

.btn.secondary.outline {
  background-color: transparent;
  color: var(--color-secondary);
  box-shadow: none;
}
.btn.secondary.outline:hover, .btn.secondary.outline:focus {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: #fff;
}

.btn.accent-1,
.btn-group.accent-1 a,
.btn-group a.accent-1 {
  background-color: var(--color-accent-1);
  border-color: var(--color-accent-1);
}
.btn.accent-1:hover, .btn.accent-1:focus,
.btn-group.accent-1 a:hover,
.btn-group.accent-1 a:focus,
.btn-group a.accent-1:hover,
.btn-group a.accent-1:focus {
  background-color: var(--color-accent-1-light);
  border-color: var(--color-accent-1-light);
}

.btn.accent-1.outline {
  background-color: transparent;
  color: var(--color-accent-1);
  box-shadow: none;
}
.btn.accent-1.outline:hover, .btn.accent-1.outline:focus {
  background-color: var(--color-accent-1);
  border-color: var(--color-accent-1);
  color: #fff;
}

.btn.accent-2,
.btn-group.accent-2 a,
.btn-group a.accent-2 {
  background-color: var(--color-accent-2);
  border-color: var(--color-accent-2);
}
.btn.accent-2:hover, .btn.accent-2:focus,
.btn-group.accent-2 a:hover,
.btn-group.accent-2 a:focus,
.btn-group a.accent-2:hover,
.btn-group a.accent-2:focus {
  background-color: var(--color-accent-2-light);
  border-color: var(--color-accent-2-light);
}

.btn.accent-2.outline {
  background-color: transparent;
  color: var(--color-accent-2);
  box-shadow: none;
}
.btn.accent-2.outline:hover, .btn.accent-2.outline:focus {
  background-color: var(--color-accent-2);
  border-color: var(--color-accent-2);
  color: #fff;
}

.btn.accent-3,
.btn-group.accent-3 a,
.btn-group a.accent-3 {
  background-color: var(--color-accent-3);
  border-color: var(--color-accent-3);
}
.btn.accent-3:hover, .btn.accent-3:focus,
.btn-group.accent-3 a:hover,
.btn-group.accent-3 a:focus,
.btn-group a.accent-3:hover,
.btn-group a.accent-3:focus {
  background-color: var(--color-accent-3-light);
  border-color: var(--color-accent-3-light);
}

.btn.accent-3.outline {
  background-color: transparent;
  color: var(--color-accent-3);
  box-shadow: none;
}
.btn.accent-3.outline:hover, .btn.accent-3.outline:focus {
  background-color: var(--color-accent-3);
  border-color: var(--color-accent-3);
  color: #fff;
}

.btn-group a.primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.btn-group a.primary:hover, .btn-group a.primary:focus {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.btn.xxxlarge,
.btn-group.xxxlarge a {
  font-size: calc( 1rem * var(--type-scale) * var(--type-scale) * var(--type-scale) * var(--type-scale) * var(--type-scale) * var(--type-responsive-growth));
}

.btn.xxlarge,
.btn-group.xxlarge a {
  font-size: calc( 1rem * var(--type-scale) * var(--type-scale) * var(--type-scale) * var(--type-scale) * var(--type-responsive-growth));
}

.btn.xlarge,
.btn-group.xlarge a {
  font-size: calc( 1rem * var(--type-scale) * var(--type-scale) * var(--type-scale) * var(--type-responsive-growth));
}

.btn.large,
.btn-group.large a {
  font-size: calc( 1rem * var(--type-scale) * var(--type-scale) * var(--type-responsive-growth));
}

.btn.medium,
.btn-group.medium a {
  font-size: calc( 1rem * var(--type-scale) * var(--type-responsive-growth));
}

.no-btn {
  color: inherit;
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  padding: 0;
}
.no-btn:hover {
  cursor: pointer;
}

.btn-icon {
  display: inline-flex;
  align-items: center;
}

.btn-group {
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  overflow: hidden;
  display: inline-flex;
}
.btn-group.dividers a:not(:last-child)::after {
  content: " ";
  width: 1px;
  height: calc(100% + 4px);
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: -2px;
  right: -2.5px;
  z-index: 1;
}
.btn-group a {
  border-radius: 0;
  box-shadow: none;
  position: relative;
}

input {
  transition: border-color var(--transition);
}

input:not([type=radio]),
textarea,
select {
  display: block;
  width: 100%;
  padding: calc(.75rem * var(--line-height)) calc(.5rem * var(--line-height));
  font-family: inherit;
  font-size: calc( 1rem / var(--type-scale) * var(--type-responsive-growth));
  border-radius: var(--radius);
  border: 2px solid var(--color-primary);
  color: var(--color-text);
}

textarea {
  height: calc((1rem * var(--line-height) * 3) + (1rem * var(--line-height)));
}

.input-notched {
  position: relative;
}
.input-notched input:not([type=radio]):not([type=checkbox]), .input-notched textarea {
  border: 0;
  outline: none;
  resize: none;
}
.input-notched .notched-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  pointer-events: none;
}
.input-notched .notched-wrap .notched-pre {
  width: calc(.5rem * var(--line-height));
  border: 2px solid var(--color-primary);
  border-right: 0;
  border-radius: var(--radius) 0 0 var(--radius);
}
.input-notched .notched-wrap .notched-label {
  border-top: 2px solid var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  position: relative;
  padding: 0 calc(.25rem * var(--line-height));
}
.input-notched .notched-wrap .notched-label label {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  transition: font-size var(--transition), transform var(--transition), top var(--transition), color var(--transition);
}
.input-notched .notched-wrap .notched-post {
  flex-grow: 2;
  border: 2px solid var(--color-primary);
  border-left: 0;
  border-radius: 0 var(--radius) var(--radius) 0;
}
.input-notched textarea + .notched-wrap .notched-label label {
  top: calc(.75rem * var(--line-height));
  transform: translateY(0);
}
.input-notched input:focus + .notched-wrap .notched-pre,
.input-notched input:focus + .notched-wrap .notched-post,
.input-notched input:focus + .notched-wrap .notched-label,
.input-notched textarea:focus + .notched-wrap .notched-pre,
.input-notched textarea:focus + .notched-wrap .notched-post,
.input-notched textarea:focus + .notched-wrap .notched-label,
.input-notched input[data-valid=true] + .notched-wrap .notched-pre,
.input-notched input[data-valid=true] + .notched-wrap .notched-post,
.input-notched input[data-valid=true] + .notched-wrap .notched-label,
.input-notched textarea[data-valid=true] + .notched-wrap .notched-pre,
.input-notched textarea[data-valid=true] + .notched-wrap .notched-post,
.input-notched textarea[data-valid=true] + .notched-wrap .notched-label {
  border-color: var(--color-secondary);
}
.input-notched input:focus + .notched-wrap .notched-label,
.input-notched textarea:focus + .notched-wrap .notched-label,
.input-notched input[data-valid=true] + .notched-wrap .notched-label,
.input-notched textarea[data-valid=true] + .notched-wrap .notched-label {
  border-top: 0;
}
.input-notched input:focus + .notched-wrap .notched-label label,
.input-notched textarea:focus + .notched-wrap .notched-label label,
.input-notched input[data-valid=true] + .notched-wrap .notched-label label,
.input-notched textarea[data-valid=true] + .notched-wrap .notched-label label {
  top: 0;
  transform: translateY(-50%);
  color: var(--color-secondary);
  font-size: calc( 1rem / var(--type-scale) / var(--type-scale) * var(--type-responsive-growth));
}

label,
.label-block {
  display: block;
  cursor: pointer;
}

[type=checkbox] + label,
[type=radio] + label,
.label-inline {
  display: inline-block;
}

.label-basic {
  font-size: calc( 1rem / var(--type-scale) * var(--type-responsive-growth));
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: calc(.25rem * var(--line-height));
}

.radio-wrap,
.checkbox-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.radio-wrap .checkbox-input-wrap,
.checkbox-wrap .checkbox-input-wrap {
  position: relative;
  margin-right: calc(.25rem * var(--line-height));
}
.radio-wrap input[type=checkbox], .radio-wrap input[type=radio],
.checkbox-wrap input[type=checkbox],
.checkbox-wrap input[type=radio] {
  margin: 0;
  width: calc(1rem * var(--line-height));
  height: calc(1rem * var(--line-height));
  appearance: none;
  border: 2px solid var(--color-primary);
  transition: background-color var(--transition);
}
.radio-wrap input[type=checkbox]:checked, .radio-wrap input[type=radio]:checked,
.checkbox-wrap input[type=checkbox]:checked,
.checkbox-wrap input[type=radio]:checked {
  background-color: var(--color-primary);
}
.radio-wrap .checkmark,
.checkbox-wrap .checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}
.radio-wrap .checkmark path,
.checkbox-wrap .checkmark path {
  stroke: #fff;
  stroke-dasharray: 276.409px 278.409px;
  stroke-dashoffset: -277.409px;
  transition: stroke-dashoffset 0.4s var(--snap);
}
.radio-wrap :checked + .checkmark path,
.checkbox-wrap :checked + .checkmark path {
  stroke-dashoffset: 0;
}
.radio-wrap input[type=radio],
.checkbox-wrap input[type=radio] {
  flex-shrink: 0;
  border-radius: 1rem;
  margin-right: calc(.25rem * var(--line-height));
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.radio-wrap input[type=radio]::after,
.checkbox-wrap input[type=radio]::after {
  content: " ";
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  border-radius: calc(.6rem * var(--line-height));
  transform: scale(0);
  transition: transform var(--transition) var(--snap);
}
.radio-wrap input[type=radio]:checked,
.checkbox-wrap input[type=radio]:checked {
  background-color: transparent;
}
.radio-wrap input[type=radio]:checked::after,
.checkbox-wrap input[type=radio]:checked::after {
  transform: scale(0.8);
}
.radio-wrap.secondary input[type=checkbox], .radio-wrap.secondary input[type=radio],
.checkbox-wrap.secondary input[type=checkbox],
.checkbox-wrap.secondary input[type=radio] {
  border-color: var(--color-secondary);
}
.radio-wrap.secondary input[type=checkbox]:checked, .radio-wrap.secondary input[type=radio]:checked,
.checkbox-wrap.secondary input[type=checkbox]:checked,
.checkbox-wrap.secondary input[type=radio]:checked {
  background-color: var(--color-secondary);
}
.radio-wrap.secondary input[type=radio]::after,
.checkbox-wrap.secondary input[type=radio]::after {
  background-color: var(--color-secondary);
}
.radio-wrap.secondary input[type=radio]:checked,
.checkbox-wrap.secondary input[type=radio]:checked {
  background-color: transparent;
}

.radio-group .radio-wrap:not(:last-child) {
  margin-bottom: calc(.5rem * var(--line-height));
}

.checkbox-group .checkbox-wrap:not(:last-child) {
  margin-bottom: calc(.5rem * var(--line-height));
}

fieldset {
  padding: 0;
  border: 0;
  border-top: 2px solid var(--color-secondary);
}

legend {
  text-transform: uppercase;
  font-weight: 600;
  padding-right: calc(.5rem * var(--line-height));
}

.radio-group-question {
  margin-bottom: calc(.5rem * var(--line-height));
}

.switch-wrap {
  display: flex;
  align-items: center;
}
.switch-wrap .switch {
  display: flex;
  align-items: center;
}
.switch-wrap .switch input[type=checkbox] {
  position: absolute;
  left: -1000vw;
}
.switch-wrap .switch .switch-toggle {
  display: inline-block;
  position: relative;
  width: calc(1.75rem * var(--line-height));
  height: calc(.75rem * var(--line-height));
  background-color: #ccc;
  border-radius: calc(.75rem * var(--line-height) / 2);
  transition: background-color var(--transition);
}
.switch-wrap .switch .switch-toggle::after {
  content: " ";
  position: absolute;
  width: calc(1rem * var(--line-height));
  height: calc(1rem * var(--line-height));
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translateY(-51%);
  background-color: #fff;
  box-shadow: var(--shadow);
  transition: opacity var(--transition), transform var(--transition), box-shadow var(--transition), left var(--transition);
}
.switch-wrap .switch input[type=checkbox]:checked + .switch-toggle {
  background-color: var(--color-secondary);
}
.switch-wrap .switch input[type=checkbox]:checked + .switch-toggle::after, .switch-wrap .switch input[type=checkbox]:checked + .switch-toggle::before {
  left: 100%;
  transform: translate(-98%, -51%);
}
.switch-wrap .switch .switch-toggle-box {
  display: inline-flex;
  position: relative;
  border-radius: var(--radius);
  border: 2px solid #ccc;
  transition: border-color var(--transition);
}
.switch-wrap .switch .switch-toggle-box::before {
  content: " ";
  position: absolute;
  top: 2px;
  left: 2px;
  transform: none;
  width: calc(50% - 4px);
  height: calc(100% - 4px);
  background-color: #ccc;
  border-radius: calc(var(--radius) / 2);
  transition: box-shadow var(--transition), background-color var(--transition), left var(--transition), transform var(--transition);
}
.switch-wrap .switch .switch-toggle-box span {
  padding: calc(.5rem * var(--line-height));
  min-width: calc(3rem * var(--line-height));
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: calc( 1rem / var(--type-scale) * var(--type-responsive-growth));
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  color: #ccc;
  transition: transform var(--transition), opacity var(--transition), color var(--transition);
}
.switch-wrap .switch .switch-toggle-box span:first-child {
  color: #fff;
}
.switch-wrap .switch input[type=checkbox]:checked + .switch-toggle-box {
  border-color: var(--color-secondary);
}
.switch-wrap .switch input[type=checkbox]:checked + .switch-toggle-box::before {
  left: 100%;
  transform: translateX(calc(-100% - 2px));
  background-color: var(--color-secondary);
  box-shadow: var(--shadow);
}
.switch-wrap .switch input[type=checkbox]:checked + .switch-toggle-box span:first-child {
  color: var(--color-secondary);
}
.switch-wrap .switch input[type=checkbox]:checked + .switch-toggle-box span:last-child {
  color: #fff;
}
.switch-wrap .switch:active .switch-toggle::after {
  box-shadow: 0px 0px 10px var(--color-secondary);
}
.switch-wrap .switch:active .switch-toggle-box::before {
  left: 0.5rem;
}
.switch-wrap .switch:active .switch-toggle-box span:first-child {
  transform: translateX(0.5rem);
}
.switch-wrap .switch:active input[type=checkbox]:checked + .switch-toggle-box::before {
  transform: translateX(calc(-100% - 2px - .5rem));
}
.switch-wrap .switch:active input[type=checkbox]:checked + .switch-toggle-box span:first-child {
  transform: none;
}
.switch-wrap .switch:active input[type=checkbox]:checked + .switch-toggle-box span:last-child {
  transform: translateX(-0.5rem);
}
.switch-wrap .switch-label {
  font-size: calc( 1rem / var(--type-scale) * var(--type-responsive-growth));
  display: inline-block;
  margin-right: calc(.5rem * var(--line-height));
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-primary);
}

.heading-linked {
  pointer-events: none;
  margin-top: -7rem;
  margin-bottom: calc(.5rem * var(--line-height));
}
.heading-linked::before {
  content: " ";
  display: block;
  height: 7rem;
}
.heading-linked .heading-linked-content {
  display: flex;
  align-items: center;
  pointer-events: auto;
}
.heading-linked .heading-linked-content a {
  display: flex;
  align-items: center;
  padding: calc(.25rem * var(--line-height));
  opacity: 0;
}
.heading-linked .heading-linked-content a:hover, .heading-linked .heading-linked-content a:focus {
  opacity: 1;
  color: var(--color-accent-3);
}
.heading-linked .heading-linked-content a svg {
  display: block;
}
.heading-linked .heading-linked-content:hover a, .heading-linked .heading-linked-content:focus a {
  opacity: 0.5;
}

@media only screen and (max-width: 37.999em) {
  .masthead {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    background-color: var(--color-grey-pale);
  }
  .masthead .nav {
    grid-area: navbar;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 3.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1rem 2fr 1fr 2fr 1rem;
    grid-template-areas: ". lists fab groups .";
    background-color: var(--color-grey-pale);
    transition: grid-template-columns var(--transition), grid-template-areas var(--transition);
  }
  .masthead .nav.no-fab {
    grid-template-columns: 1rem 2fr 2fr 1rem;
    grid-template-areas: ". lists groups .";
  }
  .masthead .nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color-text);
    transition: width var(--transition), color var(--transition);
  }
  .masthead .nav a.active {
    color: var(--color-secondary);
  }
  .masthead .nav a:first-child {
    grid-area: lists;
  }
  .masthead .nav a:last-child {
    grid-area: groups;
  }
  .masthead .nav a .nav-icon-label {
    font-size: 0.75rem;
  }
  .masthead .fab {
    width: 56px;
    height: 56px;
    padding: 0;
    font-size: 0.875rem;
    min-width: 0;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    min-height: 36px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 50%;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    background-color: var(--color-secondary);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .masthead .fab-positioning {
    position: fixed;
    bottom: 3.5rem;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
.masthead .logo {
  font-size: 1.75rem;
  color: var(--color-primary);
}
.masthead .account-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  box-shadow: var(--shadow);
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}
.masthead .account-icon-letter {
  margin-top: -3px;
}
.masthead .account-icon-label {
  display: none;
}

.nav-toggle {
  width: calc(1rem / 4 * 7.5 * var(--type-responsive-growth));
  height: calc(1rem / 4 * 5 * var(--type-responsive-growth));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.nav-toggle:focus {
  outline: 0;
}
.nav-toggle .tog {
  width: 100%;
  height: calc(1rem / 5 * var(--type-responsive-growth));
  background-color: #fff;
  position: relative;
  transition: top var(--transition) cubic-bezier(0.58, -0.35, 0.42, 1.35), bottom var(--transition) cubic-bezier(0.58, -0.35, 0.42, 1.35), transform var(--transition) cubic-bezier(0.58, -0.35, 0.42, 1.35), background-color var(--transition) cubic-bezier(0.58, -0.35, 0.42, 1.35), color var(--transition) cubic-bezier(0.58, -0.35, 0.42, 1.35);
}
.nav-toggle .top {
  top: 0;
}
.nav-toggle .bottom {
  bottom: 0;
}
.nav-toggle-transition .top {
  top: 50%;
  transform: translateY(-50%);
}
.nav-toggle-transition .bottom {
  bottom: 50%;
  transform: translateY(50%);
}
.nav-toggle-open .top {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.nav-toggle-open .bottom {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
.nav-toggle::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + (1rem * var(--line-height)));
  height: calc(100% + (1rem * var(--line-height)));
}

.footer {
  background-color: var(--color-primary-pale);
  border-left: calc(.5rem * var(--line-height)) solid var(--color-primary);
}
.footer h2 {
  font-size: calc( 1rem * var(--type-responsive-growth));
  font-weight: 600;
}

.banner-hero {
  height: 95vh;
  max-height: 900px;
  background: linear-gradient(130deg, var(--color-primary-pale) 50%, white 50%);
  display: flex;
  align-items: center;
}
.banner-hero .headline {
  font-size: calc( 1rem * var(--type-scale) * var(--type-scale) * var(--type-scale) * var(--type-scale) * var(--type-scale) * var(--type-responsive-growth));
  font-weight: 600;
}
.banner-hero .byline {
  font-size: calc( 1rem * var(--type-scale) * var(--type-scale) * var(--type-responsive-growth));
}
@media only screen and (min-width: 25em) {
  .banner-hero {
    background: linear-gradient(140deg, var(--color-primary-pale) 50%, white 50%);
  }
}
@media only screen and (min-width: 38em) {
  .banner-hero {
    background: linear-gradient(150deg, var(--color-primary-pale) 50%, white 50%);
  }
}
@media only screen and (min-width: 60em) {
  .banner-hero {
    background: linear-gradient(160deg, var(--color-primary-pale) 50%, white 50%);
  }
  .banner-hero .banner-content {
    display: grid;
    grid-template-columns: 66.6666% 33.3333%;
    grid-auto-rows: auto;
    column-gap: calc(1rem * var(--line-height));
    grid-template-areas: "headline ." "byline ." "btn .";
  }
  .banner-hero .banner-content .headline {
    grid-area: headline;
  }
  .banner-hero .banner-content .byline {
    grid-area: byline;
  }
  .banner-hero .banner-content .btn-wrap {
    grid-area: btn;
  }
}

.card {
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  background-color: #fefefe;
  overflow: hidden;
  transition: box-shadow var(--transition);
}
.card-title {
  color: var(--color-primary);
  font-size: calc( 1rem * var(--type-scale) * var(--type-scale) * var(--type-responsive-growth));
}
.card.full-link:hover, .card.full-link:focus {
  box-shadow: var(--shadow-dark);
}

.card-item {
  padding: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-areas: "img text link";
  grid-template-columns: 4rem 1fr 2rem;
  column-gap: 1rem;
  align-items: center;
}
.card-item .card-image {
  grid-area: img;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
}
.card-item .card-text {
  grid-area: text;
}
.card-item .card-link {
  grid-area: link;
  justify-self: flex-end;
  color: var(--color-primary);
}

.color-theme-picker {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  position: relative;
  transition: background-color var(--transition), height var(--transition), color var(--transition);
}
.color-theme-picker .ctp-opener {
  font-size: calc( 1rem * var(--type-scale) * var(--type-scale) * var(--type-responsive-growth));
  padding: calc(.5rem * var(--line-height));
  border-radius: 50%;
  background-color: var(--color-primary);
  transition: background-color var(--transition), color var(--transition), box-shadow var(--transition);
}
.color-theme-picker .ctp-opener:hover, .color-theme-picker .ctp-opener:focus {
  background-color: var(--color-secondary);
  color: #fff;
  box-shadow: var(--shadow);
}
.color-theme-picker .ctp-list {
  position: absolute;
  top: 0;
  left: 50%;
  width: 85%;
  transform: translateX(-50%);
  padding: 4.5rem 0 calc(.5rem * var(--line-height));
  border-radius: 2rem;
  list-style-type: none;
  text-align: center;
  background-color: #fff;
  z-index: -1;
  box-shadow: var(--shadow);
  clip-path: polygon(-10% -10%, 100% -10%, 100% -5%, -10% -5%);
  transition: clip-path var(--transition), opacity var(--transition);
  font-size: calc( 1rem / var(--type-scale) * var(--type-responsive-growth));
}
.color-theme-picker .ctp-list li:not(:last-child) {
  margin-bottom: calc(.5rem * var(--line-height));
}
.color-theme-picker .ctp-list .active .ctp-circle::after {
  opacity: 1;
}
.color-theme-picker .ctp-list .ctp-label {
  display: none;
}
.color-theme-picker .ctp-list .ctp-circle {
  position: relative;
  width: calc(.875rem * var(--line-height));
  height: calc(.875rem * var(--line-height));
  border-radius: 50%;
  display: inline-block;
}
.color-theme-picker .ctp-list .ctp-circle::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150%;
  height: 150%;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  opacity: 0;
  transition: opacity var(--transition);
  z-index: -1;
}
.color-theme-picker .ctp-list .ctp-circle.default {
  background-color: #394A59;
}
.color-theme-picker .ctp-list .ctp-circle.earth-tones {
  background-color: #5E593D;
}
.color-theme-picker .ctp-list .ctp-circle.retro {
  background-color: #672E8C;
}
.color-theme-picker .ctp-list .ctp-circle:hover::after, .color-theme-picker .ctp-list .ctp-circle:focus::after {
  opacity: 0.5;
}
.color-theme-picker:hover, .color-theme-picker:focus {
  background-color: var(--color-secondary);
}
.color-theme-picker.open .ctp-opener {
  background-color: var(--color-secondary);
  color: #fff;
  box-shadow: var(--shadow);
}
.color-theme-picker.open .ctp-list {
  clip-path: polygon(-10% -10%, 110% -10%, 100% 110%, -10% 110%);
}

.loader-circle-wrap {
  width: calc(3rem * var(--line-height));
  height: calc(3rem * var(--line-height));
  position: relative;
}

.output .loader-circle-wrap {
  display: inline-block;
}
.output .loader-circle-wrap:not(:last-child) {
  margin-right: calc(1rem * var(--line-height));
}

.loader-circle {
  width: calc(3rem * var(--line-height));
  height: calc(3rem * var(--line-height));
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.loader-grow-outline {
  border: calc(1rem * var(--line-height)) solid;
  transform: scale(0);
  border-radius: 50%;
  animation-name: grow-outline;
  position: absolute;
}
.loader-grow-outline.primary {
  border-color: var(--color-primary);
}
.loader-grow-outline.secondary {
  border-color: var(--color-secondary);
}
.loader-grow-outline.accent-3 {
  border-color: var(--color-accent-3);
}

.loader-spinner {
  fill: none;
  stroke-width: calc(.25rem * var(--line-height));
  stroke-dasharray: 101.09px 201.09px;
  stroke-dashoffset: 101.09px;
  transform: rotate(-90deg);
  animation-name: spinner;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
}
.loader-spinner.primary circle {
  stroke: var(--color-primary);
}
.loader-spinner.secondary circle {
  stroke: var(--color-secondary);
}
.loader-spinner.accent-3 circle {
  stroke: var(--color-accent-3);
}

.loader-bar-outer {
  height: calc(.5rem * var(--line-height));
  background-color: var(--color-grey-pale);
  border-radius: var(--radius);
  display: flex;
  overflow: hidden;
}

.loader-bar-inner {
  border-radius: var(--radius);
  animation-timing-function: linear;
}
.loader-bar-inner.primary {
  background-color: var(--color-primary);
}
.loader-bar-inner.secondary {
  background-color: var(--color-secondary);
}
.loader-bar-inner.accent-1 {
  background-color: var(--color-accent-1);
}
.loader-bar-inner.accent-2 {
  background-color: var(--color-accent-2);
}
.loader-bar-inner.accent-3 {
  background-color: var(--color-accent-3);
}
.loader-bar-inner-25 {
  width: 25%;
}
.loader-bar-inner-50 {
  width: 50%;
}
.loader-bar-inner-75 {
  width: 75%;
}
.loader-bar-inner-100 {
  width: 100%;
}
.loader-bar-inner.easing {
  animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
}

.output .loader-bar-wrap:not(:last-child) {
  margin-bottom: calc(.5rem * var(--line-height));
}
.output .loader-bar-wrap .loader-bar-inner:not([class*=w-]) {
  animation-name: bar;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.delayed {
  animation-delay: 0.25s;
}

.alternate {
  animation-direction: alternate;
}

@keyframes grow-outline {
  0% {
    transform: scale(0);
    border-width: calc(1rem * var(--line-height));
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    border-width: 0;
    opacity: 0;
  }
}
@keyframes spinner {
  0% {
    stroke-dashoffset: 101.09px;
    transform: rotate(-90deg);
  }
  100% {
    stroke-dashoffset: -201.09px;
    transform: rotate(630deg);
  }
}
@keyframes bar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.tab-wrap {
  border-radius: var(--radius);
  overflow: hidden;
}
.tab-wrap .tabs {
  display: grid;
  position: relative;
  background-color: var(--color-grey-pale);
}
.tab-wrap .tabs.tab-columns-2 {
  --tab-size: 50%;
  grid-template-columns: repeat(2, 1fr);
}
.tab-wrap .tabs.tab-columns-2::after {
  width: var(--tab-size);
}
.tab-wrap .tabs.tab-columns-3 {
  --tab-size: 33.3333%;
  grid-template-columns: repeat(3, 1fr);
}
.tab-wrap .tabs.tab-columns-3::after {
  width: var(--tab-size);
}
.tab-wrap .tabs.tab-columns-4 {
  --tab-size: 25%;
  grid-template-columns: repeat(4, 1fr);
}
.tab-wrap .tabs.tab-columns-4::after {
  width: var(--tab-size);
}
.tab-wrap .tabs.tab-columns-5 {
  --tab-size: 20%;
  grid-template-columns: repeat(5, 1fr);
}
.tab-wrap .tabs.tab-columns-5::after {
  width: var(--tab-size);
}
.tab-wrap .tabs.tab-columns-6 {
  --tab-size: 16.6666%;
  grid-template-columns: repeat(6, 1fr);
}
.tab-wrap .tabs.tab-columns-6::after {
  width: var(--tab-size);
}
.tab-wrap .tabs.tab-2-active::after {
  left: var(--tab-size);
}
.tab-wrap .tabs.tab-3-active::after {
  left: calc(var(--tab-size) * 2);
}
.tab-wrap .tabs.tab-4-active::after {
  left: calc(var(--tab-size) * 3);
}
.tab-wrap .tabs.tab-5-active::after {
  left: calc(var(--tab-size) * 4);
}
.tab-wrap .tabs.tab-6-active::after {
  left: calc(var(--tab-size) * 5);
}
.tab-wrap .tabs .tab {
  display: inline-block;
  text-align: center;
  padding: calc(.5rem * var(--line-height));
  text-decoration: none;
  border-bottom: 2px solid #ccc;
  color: #777;
  font-size: calc( 1rem / var(--type-scale) * var(--type-responsive-growth));
  text-transform: uppercase;
  font-weight: 600;
}
.tab-wrap .tabs .tab.active {
  color: var(--color-secondary);
}
.tab-wrap .tabs::after {
  content: " ";
  position: absolute;
  height: 2px;
  background-color: var(--color-secondary);
  bottom: 0;
  left: 0;
  transition: left var(--transition);
}
.tab-wrap .tabs-content {
  padding: calc(.5rem * var(--line-height));
  background-color: var(--color-grey-pale);
}
.tab-wrap .tabs-content .tab-content {
  padding: calc(.5rem * var(--line-height));
  display: none;
  opacity: 0;
  transform: translateY(1rem);
  transition: opacity var(--transition), transform var(--transition);
}
.tab-wrap .tabs-content .tab-content.ready {
  display: block;
}
.tab-wrap .tabs-content .tab-content.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
.tab-wrap .tabs-content .tab-content :last-child {
  margin-bottom: 0;
}
.tab-wrap.tabs-colored {
  overflow: visible;
}
.tab-wrap.tabs-colored .tabs {
  background-color: transparent;
}
.tab-wrap.tabs-colored .tabs .tab {
  background-color: var(--color-grey-pale);
  color: #777;
  border-radius: var(--radius) var(--radius) 0 0;
  border-bottom: 0;
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.tab-wrap.tabs-colored .tabs .tab:not(:first-child) {
  margin-left: calc(-.5rem * var(--line-height));
}
.tab-wrap.tabs-colored .tabs .tab[data-tab="1"] {
  z-index: 10;
}
.tab-wrap.tabs-colored .tabs .tab[data-tab="2"] {
  z-index: 9;
}
.tab-wrap.tabs-colored .tabs .tab[data-tab="3"] {
  z-index: 8;
}
.tab-wrap.tabs-colored .tabs .tab.active {
  background-color: var(--color-secondary);
  color: #fff;
  z-index: 10;
}
.tab-wrap.tabs-colored .tabs::after {
  display: none;
}
.tab-wrap.tabs-colored .tabs-content {
  position: relative;
  z-index: 20;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 var(--radius) var(--radius);
  border-top: 2px solid var(--color-secondary);
}

.banner-page {
  padding: 6rem 1rem 4rem;
  margin-bottom: -4rem;
  background-color: #ACABAB;
  grid-column: 1/span 9;
  color: #fff;
}
.banner-page.banner-page-w-desc {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.banner-page.banner-page-w-img {
  background-size: 100% 50%, cover;
  background-position: left bottom, center;
  background-repeat: no-repeat;
}
.banner-page h1 {
  font-weight: normal;
  margin-bottom: 0;
}
.banner-page p {
  margin-bottom: 0;
}

.card-wishlist {
  background-color: #f2f2f2;
  margin-bottom: 1rem;
  display: block;
  color: var(--color-text);
  text-decoration: none;
}
.card-wishlist-img {
  height: 8rem;
  background-color: #D5D5D5;
}
.card-wishlist-content {
  padding: 1rem;
}
.card-wishlist-content h2 {
  margin-bottom: 0;
}
.card-wishlist-content p {
  font-style: italic;
  margin-bottom: 0.5rem;
}

.error-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
}
.error-list .error {
  background-color: #a00;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  position: relative;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}
.error-list .error + .error {
  margin-top: 0.5rem;
}
.error-list .error button {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-list .error button svg {
  width: 1rem;
  height: 1rem;
}

.circle-prev {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #bfbfbf;
  display: inline-block;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  border: 1px solid #f2f2f2;
}
.circle-prev + .circle-prev {
  margin-left: -0.75rem;
}

:root {
  /* Colors */
  --color-primary: #394A59;
  --color-primary-pale: #f0f3f7;
  --color-primary-light: #59758d;
  --color-secondary: #36BF7F;
  --color-secondary-light: #75d3a7;
  --color-secondary-pale: #cef8e5;
  --color-accent-1: #D9BC9A;
  --color-accent-1-light: #dfcbb4;
  --color-accent-2: #F28B66;
  --color-accent-2-light: #f1a589;
  --color-accent-3: #D96666;
  --color-accent-3-light: #df8787;
  --color-text: #222;
  --color-bg: #fff;
  --color-grey-pale: #f2f2f2;
  /* Typography */
  --font-primary: Roboto, "Open Sans", sans-serif;
  --line-height: 1.3;
  --type-scale: 1.175;
  --type-responsive-growth: 1;
  /* Transition */
  --transition: .2s;
  --snap: cubic-bezier(1,0,.75,1);
  /* Recurring Design */
  --radius: .25em;
  --shadow: 0px 2px 5px rgba(0, 0, 0, .15);
  --shadow-dark: 0px 2px 5px rgba(0, 0, 0, .25);
  --shadow-light: 0px 2px 5px rgba(0, 0, 0, .05);
}

.earth-tones {
  --color-primary: #5E593D;
  --color-primary-light: #8a825a;
  --color-primary-pale: #f1eedb;
  --color-secondary: #9B9C7E;
  --color-secondary-light: #c1c29e;
  --color-secondary-pale: #e5e6d2;
  --color-accent-1: #DDD1B3;
  --color-accent-1-light: #f3e6c6;
  --color-accent-1-pale: #f1ede3;
  --color-accent-2: #737A60;
  --color-accent-2-light: #a1aa87;
  --color-accent-2-pale: #e0e6d1;
  --color-accent-3: #A59258;
  --color-accent-3-light: #ceb66e;
  --color-accent-3-pale: #eee8d6;
}

.retro {
  --color-primary: #672E8C;
  --color-primary-light: #813bb1;
  --color-primary-pale: #e4d2f0;
  --color-secondary: #D9483B;
  --color-secondary-light: #f75344;
  --color-secondary-pale: #f7cdc9;
  --color-accent-1: #A63387;
  --color-accent-1-light: #d444ae;
  --color-accent-1-pale: #f3d4eb;
  --color-accent-2: #BF3F61;
  --color-accent-2-light: #e94f78;
  --color-accent-2-pale: #eed4db;
  --color-accent-3: #F2A25C;
  --color-accent-3-light: #f0b078;
  --color-accent-3-pale: #f7ebe0;
}

html {
  color: var(--color-text);
  background-color: var(--color-bg);
}

@media only screen and (min-width: 38em) {
  :root {
    --type-responsive-growth: 1.1;
    --type-scale: 1.25;
  }
}
@media only screen and (min-width: 60em) {
  :root {
    --type-responsive-growth: 1.2;
    --line-height: 1.4;
  }
}
@media only screen and (min-width: 90em) {
  :root {
    --type-responsive-growth: 1.3;
    --line-height: 1.5;
  }
}
.click-to-copy::after {
  content: "content_copy";
  font-family: "Material Icons";
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transition: opacity var(--transition);
  font-size: calc( 1rem * var(--type-scale) * var(--type-responsive-growth));
}
.click-to-copy.copied::after {
  content: "check_circle_outline";
  color: var(--color-secondary);
  opacity: 1;
  transition: opacity 2s;
}
.click-to-copy.copied.transition-out::after {
  opacity: 0;
}
.click-to-copy:hover {
  cursor: pointer;
}
.click-to-copy:hover::after {
  opacity: 1;
}

.full-link {
  position: relative;
}
.full-link a::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sign-in-up-wrap {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr repeat(12, min(2.5em, 8.3333%)) 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}
.sign-in-up-wrap > div {
  grid-column: 2/span 12;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}
@media only screen and (max-width: 37.999em) {
  .sign-in-up-wrap > div {
    padding: 0 1rem;
  }
}
.sign-in-up-wrap > div > *,
.sign-in-up-wrap > div form > * {
  grid-column: span 12;
}
.sign-in-up-wrap > div > *.span-6,
.sign-in-up-wrap > div form > *.span-6 {
  grid-column: span 6;
}
.sign-in-up-wrap > div h1 {
  margin: 0;
}
.sign-in-up-wrap > div form {
  display: contents;
}
.sign-in-up-wrap > div form button {
  justify-self: center;
}

.account-header {
  margin-bottom: 2rem;
}
.account-header-title-wrap {
  padding-top: 5.5rem;
  background-color: #ACABAB;
  display: grid;
  grid-template-columns: 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem;
}
.account-header-title-wrap h1 {
  grid-column: 4/span 5;
  font-weight: 400;
  color: #fff;
  margin-bottom: 0;
  font-size: calc( 1rem * var(--type-scale) * var(--type-scale) * var(--type-scale) * var(--type-scale) * var(--type-responsive-growth));
}
.account-header-img-wrap {
  display: grid;
  grid-template-columns: 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem;
}
.account-header-img-wrap img {
  width: 100%;
  grid-column: 2/span 1;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -50%;
  border: 0.125rem solid #fff;
}
.account-header-img-wrap .account-email {
  grid-column: 4/span 5;
  text-decoration: none;
  color: var(--color-text);
  display: block;
  padding-top: 0.25rem;
}

.item-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.item-info .item-desc {
  grid-column: 1/span 4;
  padding-bottom: 1rem;
  border-bottom: 1px solid #aaa;
}
.item-info a.item-info-icon-wrap {
  color: var(--color-secondary);
  text-decoration: none;
  border-radius: var(--radius);
}
.item-info a.item-info-icon-wrap:hover, .item-info a.item-info-icon-wrap:focus {
  color: var(--color-primary);
}
.item-info .item-info-icon-wrap {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 2rem 1fr;
  align-items: center;
  column-gap: 1rem;
}
.item-info .item-info-icon-wrap > * {
  grid-column: span 1;
  align-items: center;
}
.item-info .item-info-icon-wrap .item-info-icon {
  width: 2rem;
  height: 2rem;
}
.item-info p {
  margin: 0;
}

.form-create-item {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}
.form-create-item > * {
  grid-column: span 12;
}

/*# sourceMappingURL=main.css.map */
