.nav-toggle {
  width: calc(1rem / 4 * 7.5 * var(--type-responsive-growth));
  height: calc(1rem / 4 * 5 * var(--type-responsive-growth));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  &:focus {
    outline: 0;
  }
  .tog {
    width: 100%;
    height: calc(1rem / 5 * var(--type-responsive-growth));
    background-color: #fff;
    position: relative;
    transition:
      top var(--transition) cubic-bezier(.58,-0.35,.42,1.35),
      bottom var(--transition) cubic-bezier(.58,-0.35,.42,1.35),
      transform var(--transition) cubic-bezier(.58,-0.35,.42,1.35),
      background-color var(--transition) cubic-bezier(.58,-0.35,.42,1.35),
      color var(--transition) cubic-bezier(.58,-0.35,.42,1.35);
  }
  .top {
    top: 0;
  }
  .bottom {
    bottom: 0;
  }
  &-transition {
    .top {
      top: 50%;
      transform: translateY(-50%);
    }
    .bottom {
      bottom: 50%;
      transform: translateY(50%);
    }
  }
  &-open {
    .top {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }
    .bottom {
      bottom: 50%;
      transform: translateY(50%) rotate(-45deg);
    }
  }
  &::after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + (1rem * var(--line-height)));
    height: calc(100% + (1rem * var(--line-height)));
  }
}