@import 'skip-links';
@import 'buttons';
@import 'forms';
@import 'headings';
@import 'header';
@import 'nav-tog';
@import 'footer';
@import 'banners';
@import 'cards';
@import 'color-theme-picker';
@import 'loaders';
@import 'tabs';
@import 'banner-page';
@import 'card-wishlist';

.circle-prev {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #bfbfbf;
  display: inline-block;
  border-radius: 50%;
  // box-shadow: var(--shadow);
  border: 1px solid #f2f2f2;
  + .circle-prev {
    margin-left: -.75rem;
  }
}