.list-group {
  padding: 0;
  list-style-type: none;
}

.list-group-flex {
  @extend .list-group;
  display: flex;
}

.icon-list {
  @extend .list-group;
  margin: 0;
}

.list-group.level-2 {
  padding-left: calc(1rem * var(--line-height));
}