.sign-in-up-wrap {
  height: 100vh;
  display: grid;
  padding: 2rem 0;
  grid-template-columns: 1fr repeat(12, min(2.5em, 8.3333%)) 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  > div {
    grid-column: 2 / span 12;
    text-align: center;
    display: grid;
    grid-template-columns:repeat(12, 1fr);
    gap: 1rem;
    @media only screen and (max-width: 37.999em) {
    
      padding: 0 1rem;
    
    }
    > *,
    form > * {
      grid-column: span 12;
      &.span-6 {
        grid-column: span 6;
      }
    }
    h1 {
      margin: 0;
    }
    form {
      display: contents;
      button {
        justify-self: center;
      }
    }
  }
}